module my-uwsgi 1.0;

require {
	type nfs_t;
	type init_t;
	class file { append create execute execute_no_trans ioctl open read rename setattr unlink write };
}

# ============= init_t ==============
allow init_t nfs_t:file { append create execute execute_no_trans ioctl open read rename setattr unlink write };
